<div class="container">
  <h2>Welcome <%= @user.email %>, have a good day! <%= link_to 'Back to Listings', nesthost_redirect_path, class: 'btn btn-primary', method: :get %> </h2>

<hr>

<%= render :partial => 'property' %>

  <div id='calendar'></div>

</div>

<script>
    $(document).ready(function() {
      $('#calendar').fullCalendar({
        height: 500,
        defaultDate: '<%= Date.today() %>',
        header: {left: 'prev,next,today', center: 'title', right: 'month,agendaWeek,agendaDay'},
        selectable: true,
        selectHelper: true,
        editable: true,
        eventLimit: true,
        events: [
          <% @bookings.each do |booking| %>
            {
            title: '<%= (booking.email==@room[:landlord_email])? "Booked by Landlord" : "Booked by Tenant" %>',
            start: '<%= booking.start %>',
            end: '<%= booking.end %>',
            backgroundColor: '<%= (booking.email==@room[:landlord_email])? 'rgb(251, 50, 50)' : 'rgb(33, 8, 235)' %>'
            },
          <% end %>
        ],
        select: function(start,end) {
          $.getScript('/bookings/new',function() {
            $('#booking_date_range').val(moment(start).format("MM/DD/YYYY HH:mm") + ' - ' + moment(end).format("MM/DD/YYYY HH:mm"));
            date_range_picker();
            $('.start_hidden').val(moment(start).format('YYYY-MM-DD HH:mm'));
            $('.end_hidden').val(moment(start).format('YYYY-MM-DD HH:mm'));
          });
        calendar.fullCalendar('unselect');
        }
      });
    });
</script>
<script>
  $('#remote_container').html('<%= j render 'bookings/new' %>');
  $('#new_event').modal('show');
</script>
