<div class="container">
  <h2>Hello, have a good day!</h2>
  <h4>Welcome <%= params[:user_email] %></h4>
  <h4>Now viewing <%= params[:property_id] %></h4>

<hr>

<dl class="dl-horizontal">
  <dt><strong> Name</strong></dt>
  <dd><%= @room.name %></dd>
  <dt><strong> Description</strong></dt>
  <dd><%= @room.description %></dd>
  <dt><strong>Address</strong></dt>
  <dd><%= @room.address %></dd>
  <dt><strong>Price</strong></dt>
  <dd><%= @room.price %></dd>
  <dt><strong>Accomodates</strong></dt>
  <dd><%= @room.accomodates %></dd>
  <dt><strong>Bedroom</strong></dt>
  <dd><%= @room.bedroom %></dd>
  <dt><strong>Bathroom</strong></dt>
  <dd><%= @room.bathroom %></dd>
  <dt><strong>Has a tv</strong></dt>
  <dd><%= @room.is_tv %></dd>
  <dt><strong>Has a kitchen</strong></dt>
  <dd><%= @room.is_kitchen %></dd>
  <dt><strong>Has internet</strong></dt>
  <dd><%= @room.is_internet %></dd>
  <dt><strong>Active</strong></dt>
  <dd><%= @room.active %></dd>
</dl>

<hr>

  <div id='calendar'></div>

</div>

<script>
    $(document).ready(function() {
        $('#calendar').fullCalendar({
            defaultDate: '2014-09-12',
            editable: true,
            eventLimit: true, // allow "more" link when too many events
        });
    });
</script>
