<div class="container">
  <h2>Welcome <%= @user.email %>, have a good day! <%= link_to 'Back to Listings', nesthost_redirect_path, class: 'btn btn-primary', method: :get %> </h2>

<hr>

<%= render :partial => 'property' %>

  <div id='calendar'></div>
</div>

<script>
$(document).ready(function() {
  $('#calendar').fullCalendar({
    height: 500,
    defaultDate: '<%= Date.today() %>',
    header: {left: 'prev,next,today', center: 'title', right: 'month,agendaWeek,agendaDay'},
    selectable: true,
    selectHelper: true,
    editable: true,
    eventLimit: true,
    events: [
      <% @bookings.each do |booking| %>
        {
        title: '<%= (booking.booker_email==booking.landlord_email)? "Booked by Landlord" : "Booked by Tenant" %>',
        start: '<%= booking.start %>',
        end: '<%= booking.end %>',
        backgroundColor: '<%= (booking.booker_email==booking.landlord_email)? 'rgb(251, 50, 50)' : 'rgb(33, 8, 235)' %>'
        },
      <% end %>
    ],
    select: function(start,end) {
      $.getScript('/bookings/new',function() {
        $('#booking_date_range').val(moment(start).format("DD/MM/YYYY") + ' - ' + moment(end).format("DD/MM/YYYY"));
        daterangepicker();
      });
    $('#calendar').fullCalendar('unselect');
    }
  });
});
</script>
