<!-- if selected booking was made by the landlord -->
<% if (@booking.state=='booked')&&(session[:booker_email]==session[:landlord_email])&&(@booking.booker_email==session[:landlord_email]) %>
  <%= form_for @booking, remote:true do |f| %>
    <h4>Occupied by Landlord Form</h4>
    <%= f.text_field :date_range, value:"", input_html: { class: "form-control input-sm" }, data:{ provide:' datepicker' }, :size => 25 %>
    <%= f.hidden_field :booker_email, value: session[:booker_email] %>
    <%= f.hidden_field :landlord_email, value: session[:landlord_email] %>
    <%= f.hidden_field :room_ref, value: session[:room_ref] %>
    <%= f.hidden_field :start_date, value: Date.today, class: 'form-control input-sm start_hidden' %>
    <%= f.hidden_field :end_date, value: Date.today, class: 'form-control input-sm end_hidden' %>
    <%= f.select :state, [['Book','booked'],['Reject','rejected']] %>
    <%= f.submit "Submit" %>
  <% end %>
  <% elsif (@booking.state=='booked')&&(session[:booker_email]==session[:landlord_email])&&(@booking.booker_email!=session[:landlord_email]) %>
    <h4>Occupied by Tenant Form</h4>
    <%= form_for @booking, remote:true do |f| %>
    <%= f.text_field :date_range, value:"", input_html: { class: "form-control input-sm" }, data:{ provide:' datepicker' }, :size => 25 %>
    <%= f.hidden_field :booker_email, value: session[:booker_email] %>
    <%= f.hidden_field :landlord_email, value: session[:landlord_email] %>
    <%= f.hidden_field :room_ref, value: session[:room_ref] %>
    <%= f.hidden_field :start_date, value: Date.today, class: 'form-control input-sm start_hidden' %>
    <%= f.hidden_field :end_date, value: Date.today, class: 'form-control input-sm end_hidden' %>
    <%= f.select :state, [['Request','requested']] %>
    <%= f.submit "Submit" %>
  <% end %>
  <% elsif (@booking.state=='requested')&&(session[:booker_email]==session[:landlord_email])&&(@booking.booker_email!=session[:landlord_email]) %>
    <h4>Requested by Tenant Form</h4>
    <%= form_for @booking, remote:true do |f| %>
    <%= f.text_field :date_range, value:"", input_html: { class: "form-control input-sm" }, data:{ provide:' datepicker' }, :size => 25 %>
    <%= f.hidden_field :landlord_email, value: session[:landlord_email] %>
    <%= f.hidden_field :room_ref, value: session[:room_ref] %>
    <%= f.hidden_field :start_date, value: Date.today, class: 'form-control input-sm start_hidden' %>
    <%= f.hidden_field :end_date, value: Date.today, class: 'form-control input-sm end_hidden' %>
    <%= f.select :state, [['Approve','booked'],['Reject','rejected']] %>
    <%= f.submit "Submit" %>
  <% end %>
  <% elsif (@booking.state=='rejected') %>
  <% elsif session[:landlord_email]==session[:booker_email] %>
    <h4>Landlord Create New Booking Form</h4>
    <%= form_for @booking, remote:true do |f| %>
    <%= f.text_field :date_range, value:"", input_html: { class: "form-control input-sm" }, data:{ provide:' datepicker' }, :size => 25 %>
    <%= f.text_field :booker_email, value: session[:booker_email] %>
    <%= f.hidden_field :landlord_email, value: session[:landlord_email] %>
    <%= f.hidden_field :room_ref, value: session[:room_ref] %>
    <%= f.hidden_field :start_date, value: Date.today, class: 'form-control input-sm start_hidden' %>
    <%= f.hidden_field :end_date, value: Date.today, class: 'form-control input-sm end_hidden' %>
    <%= f.select :state, [['Book','booked']] %>
    <%= f.submit "Submit" %>
  <% end %>
  <% else %>
    <h4>Request a room</h4>
    <%= form_for @booking, remote:true do |f| %>
    <%= f.text_field :date_range, value:"", input_html: { class: "form-control input-sm" }, data:{ provide:' datepicker' }, :size => 25 %>
    <%= f.hidden_field :booker_email, value: session[:booker_email] %>
    <%= f.hidden_field :landlord_email, value: session[:landlord_email] %>
    <%= f.hidden_field :room_ref, value: session[:room_ref] %>
    <%= f.hidden_field :start_date, value: Date.today, class: 'form-control input-sm start_hidden' %>
    <%= f.hidden_field :end_date, value: Date.today, class: 'form-control input-sm end_hidden' %>
    <%= f.select :state, [['Request','requested']] %>
    <%= f.submit "Submit" %>
  <% end %>
<% end %>
